<a href="https://colab.research.google.com/github/JeraldinneReina/Aplicando-Python/blob/main/Conociendo_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OBJECTOS O VARIABLES

In [ ]:
#Strings:cadena de caracteres - usamos comillas simples o doables para indicar que es un texto
print("Hello World")

Hello World

In [ ]:
#Númericos Entero -conocidos como Int (Interger)
print(10)

10

In [ ]:
# Números con decimales -Importante utilizar el PUNTO, Python toma la coma como
# separador de objectos
#Son conocimos como Floats
print(10.5)

10.5

In [ ]:
print(10,15,19)

10 15 19

In [ ]:
#Asignación  nombre a las variables - me toma la minúscula y mayúscula como
#diferentes

a = 10
A = 10.5
print(a)
print(A)

10
10.5

## Tipo de objectos

2 OBJECTOS: STRINGS Y NÚMEROS. En números tenemos dos enteros Int y decimales Float.

In [ ]:
#conocer tipos de objectos

type (a)

int

In [ ]:
type (A)

float

In [ ]:
B = "Hola Mundo"
type (B)

str

###Operaciones con Strings

In [ ]:
oracion = ("Mi Nombre es")
Name = ("Jeraldinne")
print(oracion,Name)

Mi Nombre es Jeraldinne

In [ ]:
print (oracion + Name) #No me se para cada string al usar el " + "  debo agregarle el espacio

Mi Nombre esJeraldinne

In [ ]:
print (oracion + " " + Name) #Agregamos el espacio con comillas

Mi Nombre es Jeraldinne

In [ ]:
dir() #para conocer propiedades

['In',
 'Name',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'oracion',
 'quit']

In [ ]:
oracion *5

'Mi Nombre esMi Nombre esMi Nombre esMi Nombre esMi Nombre es'

### Manipulating strings - string methods

In [ ]:
oracion2 = "este es un string"

In [ ]:
# Case capitalization
# It return the string with first letter capitalized and the rest being lower cases.

oracion.capitalize()

'Este es un string'

In [ ]:
# Given a string, convert it into title (each word is capitalized)
oracion2.title()

'Este Es Un String'

In [ ]:
# Converting the string to upper case
oracion2.upper()

'ESTE ES UN STRING'

In [ ]:
# Converting the string to lower case
oracion2.lower()

'este es un string'

In [ ]:
# Splitting the string
oracion2.split()

['este', 'es', 'un', 'string']

Lastly, we can use replace() method to replace some characters in string with another characters. Replace method takes two inputs: characters to be replaced, and new characters to be inserted in string,

replace('characters to be replaced', 'new characters').

Example, given the string "Ayer leí dos noticias impactantes", replace the world dos with cuatro.

In [ ]:
new = "Ayer leí dos noticias impactantes"
new.replace('dos', 'cuatro')

'Ayer leí cuatro noticias impactantes'

In [ ]:
#Podemos remplazar los espacio, tambien

new.replace(' ', '-')

'Ayer-leí-dos-noticias-impactantes'

# LIBRERIAS
Primero Importamos Librerias como ** Pandas y Numpy** italicized text, las cuales,  contienen funciones, clases y modulos ya escritos para usar, estás ayudan a la manipulación y análisis de datos en tablas, y calculos matemáticos respectivamente.

In [ ]:
# Librarias - importing numpy and pandas - Damos alias a nuestras librerias con
# AS

import numpy as np
import pandas as pd

#DATA STRUCTURES / ESTRUCTURAS DE DATOS

In [ ]:
#Dir() - me indica las propiedades, las operaciones y funciones que puedo aplicar con dicho objecto

dir ()

['In',
 'Name',
 'Out',
 '_',
 '_4',
 '_5',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'i',
 'nums',
 'oracion',
 'quit',
 'week_days']

##Listas
Conjunto ordenados de valores. Cada valores es llamado elemento o item, el cual puede ser idenficado con un INDEX.

- Se almacenan entre corchetes angulares  [  ] y comas como separador ,

- Podemos tener listas de tipo Integers, strings y floats.

NOTA: En python iniciamos desde cero

In [ ]:
#crear una lista
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

In [ ]:
# Crear una lista con Range - el cual me crea un rango de número hasta la posición que yole indique
nums = range(6)

for i in nums:
  print(i)

0
1
2
3
4
5

In [ ]:
# Creating the series from a Python list
#Lista []
num_list = [1,2,3,4,5]

pd.Series(num_list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
num_list [3] #conocer el datos de x posición

4

##Diccionarios

a dictionary es una colección de llaves y valores.
- Se almacenan entre Corchetes {  }
-

In [ ]:
#Primera forma de crear un diccionario -con función
#Aqui le damos a nuestra variable la estructura de diccionario con la función dict (), por ahora estara vacio.
Codigo_paises = dict()
print (Codigo_paises)

{}

In [ ]:
##Ahora agregamos valores - los agregamos con corchetes agulares la lalve y despues del igual el valor.
Codigo_paises ["Estados unidos"] = 1
print (Codigo_paises)

{'Estados unidos': 1}

In [ ]:
#Segunda forma de crear un diccionario - de forma manual  con corchetes

Codigo_paises = {"Estados Unidos":1, "China":86, "Rwanda":250, "Germany":49}
print (Codigo_paises)
Codigo_paises #tambien la podemos llamar sin el print

{'Estados Unidos': 1, 'China': 86, 'Rwanda': 250, 'Germany': 49}

{'Estados Unidos': 1, 'China': 86, 'Rwanda': 250, 'Germany': 49}

In [ ]:
#si quiero consultar solo las llaves usamos
Codigo_paises.keys()

dict_keys(['Estados Unidos', 'China', 'Rwanda', 'Germany'])

In [ ]:
#si quiero consultar solo los valores usamos
Codigo_paises.values()

dict_values([1, 86, 250, 49])

In [ ]:
#si quiere agregar datos a mi diccionario usamos
Codigo_paises ["Brasil"] = 55
print (Codigo_paises)

{'Estados Unidos': 1, 'China': 86, 'Rwanda': 250, 'Germany': 49, 'Brasil': 55}

In [ ]:
#si quiere consultar el valor de una llave
Codigo_paises ["China"]

86

In [ ]:
# puedo consultar si una llave existe en el diccionario
"Brasil" in Codigo_paises

True

In [ ]:
# puedo consultar si una llave existe en el diccionario
"Peru" in Codigo_paises

False

In [ ]:
# Getting the keys and the values and items of the dictionary

dict_keys = Codigo_paises.keys()
dict_values = Codigo_paises.values()
dict_items = Codigo_paises.items()

print(f"Keys: {dict_keys}\n Values:{dict_values}\n Items:{dict_items}")

Keys: dict_keys(['Estados Unidos', 'China', 'Rwanda', 'Germany', 'Brasil'])
 Values:dict_values([1, 86, 250, 49, 55])
 Items:dict_items([('Estados Unidos', 1), ('China', 86), ('Rwanda', 250), ('Germany', 49), ('Brasil', 55)])

In [ ]:
# Get the value of the Australia

Codigo_paises.get('Estados Unidos')

1

In [ ]:
#podemos crear diferentes lalves con diferentes valores, es decir, en una lista

empleados = {
    "nombre" :[ "Andres","Carlos", "Andrea", "Paula", "Camila"],
    "cargo" : ["Gerente","Adminsitrador","TI","GGHH","Comercial"],
    "edad" : [45,34,28,56,32]
}

empleados

{'nombre': ['Andres', 'Carlos', 'Andrea', 'Paula', 'Camila'],
 'cargo': ['Gerente', 'Adminsitrador', 'TI', 'GGHH', 'Comercial'],
 'edad': [45, 34, 28, 56, 32]}

##Tuples
Su principal característica es que una vez creada la lista NO se pueden hacer modificaciones -inmutables -
- Se almacena entre  (  )  parentesis

- Su indice o contador de elementos inicia desde la posición cero (0)

In [ ]:
tup = (1,2,3,4,5)
tup [3]

4

##Sets /Conjuntos

Conjuntos que pueden compartir una serie de elementos.
 - Puedo repetir elementos, sin embargo, al llamarlo el conjunto, me trae valores unicos.
 - Se almacenan entre corchetes {  }

In [ ]:
set_1 = {1,2,3,4,5,6}
set_2 = {4,5,6,7,8,9}

#FUNCIONES

##Index

Me indica la posición que ocupa un objecto en una LISTA.

- nombre de la variable . index (menciono el objecto)

In [ ]:
nombres = ["Nancy","Jeraldinne", "Reina", "Galindo"]
nombres.index("Reina")

2

Si por el contrario tengo la posición y quiero conocer el objecto utilizamos corchetes.

 - nombre de la variable [# posición]
 - Si coloco el # positivo va de derecha a izquierda
 - Si coloco el # negativo va de izquierda a derecha

In [ ]:
nombres [2]

'Reina'

- nombre de la variable [:]
al utilizar  :  puedo traer desde una posición A a una posición B

In [ ]:
nombres [:] # ME TRAE TODOS LOS ELEMENTOS

['Nancy', 'Jeraldinne', 'Reina', 'Galindo']

In [ ]:
nombres [0:2] # ME TRAE LA POSICIÓN 0 Y 1

['Nancy', 'Jeraldinne']

In [ ]:
nombres [:3] # ME TRAE LA POSICIÓN DESDE  0 A LA 2

['Nancy', 'Jeraldinne', 'Reina']

CAMBIAR ELEMENTOS DE UNA LISTA

In [ ]:
nombres [2] = "Gonzalez"
print(nombres)

['Nancy', 'Daniela', 'Gonzalez']

Rangos
- 0:2 indica un rango que empieza en el índice 0 y termina antes del índice 2.
- Por lo tanto, afecta los elementos en las posiciones 0 y 1.

In [ ]:
nombres [0:2] = ["Daniel","Cespedes"]
print(nombres)

['Daniel', 'Cespedes', 'Pardo']

##SORT - Ordena ascendente

## REVERSE -  Ordenamiento de Mayor a menor